/* 时间标尺组件 */
.timeline-ruler {
  height: 35px;
  background: #2d2d2d;
  border-bottom: 1px solid #404040;
  position: relative;
  z-index: 5;
  flex-shrink: 0;
}

.timeline-ruler.mobile {
  height: 30px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

.time-marker {
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 1px solid #666666;
}

.time-marker.mobile {
  border-left-width: 1px;
}

.time-tick {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 6px;
  background: #ffffff;
}

.time-tick.major {
  height: 10px;
  background: #ffffff;
  width: 2px;
  left: -2px;
}

.time-tick.minor {
  height: 4px;
  background: #888888;
}

.time-label {
  position: absolute;
  top: 8px;
  left: 4px;
  font-size: 10px;
  color: #cccccc;
  white-space: nowrap;
}

.time-label.mobile {
  font-size: 9px;
  top: 6px;
}